#gits{
  padding: 4rem 2rem;
  color: #fff;
  text-align:  center;
  min-height: 100vh;
  height:100%;


  .gists, .repos{
    text-align: left;

    li{
      padding-bottom: 1rem;
      font-weight: 200;
      a{
        color:#489f77;
        font-weight: 700;
        &:hover{
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
  .repos{
    padding-bottom: 2rem;
  }
}
