select, textarea, textarea.form-control, input[type="text"]:not(.qty), input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-weight: inherit;
    height: 48px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 48px;
    color: #606060;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(21, 21, 21, 0.15);
    border-radius: 4px;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

// .form-control{
//   background: #282828;
//   color:#f7f7f7;
//   &:focus{
//     background: #585757;
//     color:#f7f7f7;
//   }
// }
.form-control-feedback{
  color: #d23737;
}
.form-control-danger{

      border-color: #d23737!important;

}
