#footer{
  color: #fff;
      background-color: #1f2421;
      padding: 2rem 2rem;
      font-size: 1rem;
      height: 80px;
  svg{
    height: 1.42rem;
    fill:#fff;
  }
  a{
    color:#fff;
    font-size: 1.22rem;
    margin-left:10px
  }
}
