.navbar{
  transition: all 1s;
     padding: 0!important;
  .nav-item{
    transition: all 1.2s;
    letter-spacing: -0.5px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 600;
    font-size: 15px;

    font-family: 'Montserrat', sans-serif;
    color: #9eb9d8;
    transition: all 150ms ease-in-out;
    .nav-link{
      transition: all 0.71s;
    }
    span{
      color: #fff;
    }
  }
   .nav-icon{
     transition: all 0.71s;
     padding-right: 0px !important;
     padding-left: 0px !important;
   }
}
.navbar-brand{
  transition: all 0.8s;
  img{

    transition: all 1s;
    width: 80%;

  }
}
.bigger{
  transition: all 0.8s;
  font-size: 17px !important;
}
.logo-sm{
  img{
    transition: all 1s;
    // width:44% !important;
  }

}
.scrolled{
  background: rgba(21, 21, 21, 0.9);
}
@media (max-width: 575.98px) {
  .container{
      max-width: 100%;
  }
  .navbar-nav{
      padding-top: 70px;
  }
  .navbar-brand{
    position: absolute;
    top:6px;
    left:20px;
  }
.navbar-toggler{
    top:16px;
    right: 17px;
    position: absolute;
  }

}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .navbar{
    min-height: 76px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .navbar-brand{
    img{
      max-width:200px
    }

  }

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .navbar-brand{
    img{
      max-width:300px
    }

  }
}
@media (min-width: 1199.98px) {
  .navbar-brand{
    img{
      max-width:320px
    }

  }
}
@media (max-width: 420.98px) {
  .navbar-brand{
    padding-top: 1.3125rem;
    padding-bottom: 1.3125rem;
    img{
      max-width:200px
    }

  }

}
