header{
  display: none;
  position: absolute;
  min-width: 100%;
  z-index: 1000;
  .navbar-brand{
    svg{
      height: 40px;
      width: 40px;
      fill: #fff!important;
    }
  }
  .nav-link{
    color: #fff!important;
    margin-left: .5rem;
    margin-right: .5rem;
    transition: all .25s ease;
    text-decoration: none;
    font-weight: 200;
    &:hover, &:focus{
      text-decoration: underline;
    }
  }
  .scrolled{
    background: #216869;
    transition: all .300s ease;
  }
}
@media (max-width: 411.98px) {
  .nav-item{
    font-size: 18px;
    .nav-link{
      margin-left: .3rem;
      margin-right: .3rem;
    }
  }
}
