@import url('https://fonts.googleapis.com/css?family=Bree+Serif:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1f2421!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, li, address {

    line-height: 28px;
        font-size: 22px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    // color: #404040;
    // font-weight: 700;
    // letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: 'Bree Serif';
    // text-shadow: 1px 1px #204341;
}
h1{
  // color:#fff;
  font-size:2.875rem;
  margin-bottom: 20px;
}
h2{
  // color:#fff;
  font-size:2.875rem;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
}
h5 {
    font-size: 18px;
    line-height: 28px;
}
p{
  line-height: 1.5;
}
a{
  // font-family: 'Montserrat', sans-serif;
  color: #9eb9d8;
  transition: all 150ms ease-in-out;

  &:hover, &:focus {
    text-decoration: none;
    color: #9eb9d7;
}

}
