@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #606060!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, li, address {
    line-height: 28px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    // color: #404040;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
    font-family: 'Raleway';
}
h1{
  // color:#fff;
  font-size:2rem;
  margin-bottom: 20px;
}
h2{
  // color:#fff;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 20px;
}
h3 {
    font-size: 22px;
    line-height: 32px;
}
h5 {
    font-size: 18px;
    line-height: 28px;
}

a{
  // font-family: 'Montserrat', sans-serif;
  color: #9eb9d8;
  transition: all 150ms ease-in-out;

  &:hover, &:focus {
    text-decoration: none;
    color: #9eb9d7;
}

}
