@import 'bootstrap';
@import 'typography';

html{
  overflow-x: auto !important;
  background: rgb(61,96,94);
}
body{
  // height: 100vh; /* set viewport constraint */
  background-color: transparent;
}

input:focus, button:focus {outline:0;}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .container{
      max-width: 100%;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .container{
    max-width: 95%;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .container{
    max-width: 90%;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .container{
    max-width: 1200px
  }
}
